.important {
  font-weight: 900 !important;
}
.todo-item {
  display: flex !important;
  justify-content: space-between !important;
}
.flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
